---
- name: Create
  hosts: localhost
  connection: local
  gather_facts: false
  no_log: false
  vars:
    molecule_pip_dependencies:
      - kubernetes
  tasks:

    - name: Store user ENVs
      ansible.builtin.set_fact:
        molecule_user_home_dir: "{{ lookup('ansible.builtin.env', 'HOME') }}"
        molecule_user_path: "{{ lookup('ansible.builtin.env', 'PATH') }}"

    - name: Create local bin directory
      ansible.builtin.file:
        path: "{{ molecule_user_home_dir }}/bin"
        state: directory
        mode: 504
    
    - name: Download oc binary from OCP downloads svc endpoint
      ansible.builtin.get_url:
        url: http://downloads.openshift-console.svc.cluster.local/amd64/linux/oc
        dest: "{{ molecule_user_home_dir }}/bin/oc"
        mode: '0770'

    - name: Download helm binary from helm.sh
      ansible.builtin.get_url:
        url: https://get.helm.sh/helm-v3.5.4-linux-amd64.tar.gz
        dest: "{{ molecule_user_home_dir }}/bin/helm-v3.5.4-linux-amd64.tar.gz"
        mode: '0770'
    
    # Extract the helm binary from the tarball and place it in { molecule_user_home_dir }}/bin/
    - name: Extract helm binary from tarball
      ansible.builtin.unarchive:
        src: "{{ molecule_user_home_dir }}/bin/helm-v3.5.4-linux-amd64.tar.gz"
        dest: "{{ molecule_user_home_dir }}/bin/"
        copy: no
        creates: "{{ molecule_user_home_dir }}/bin/helm"
        mode: '0770'

    # Copy the helm binary to { molecule_user_home_dir }}/bin/
    - name: Copy helm binary to bin dir
      ansible.builtin.copy:
        src: "{{ molecule_user_home_dir }}/bin/linux-amd64/helm"
        dest: "{{ molecule_user_home_dir }}/bin/helm"
        mode: '0770'
    
    - name: Add another bin dir to system-wide $PATH.
      ansible.builtin.lineinfile:
        path: "{{ molecule_user_home_dir }}/.bashrc"
        line: 'PATH=$PATH:{{ molecule_user_home_dir }}/bin'
        state: present

    - name: Ensure python dependencies are installed
      ansible.builtin.pip:
        name: "{{ molecule_pip_dependencies }}"
        state: present
      when: molecule_pip_dependencies is defined and molecule_pip_dependencies

    - name: Install ansible-galaxy collections
      ansible.builtin.command: ansible-galaxy collection install -r /projects/external-secrets-manager/ansible-builder/requirements.yml

    #- name: Create symbolic link for external-secrets-manager
    #  ansible.builtin.file:
    #    src: /projects/external-secrets-manager
    #    dest: /home/runner/.ansible/roles/external-secrets-manager
    #    state: link
